<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            ">
    <!-- <bean class="com.alibaba.druid.pool.DruidDataSource"> -->
    <!--     <property name="driverClassName" value="com.mysql.jdbc.Driver"/> -->
    <!--     <property name="url" value="jdbc:mysql://localhost:3306/spring_db"/> -->
    <!--     <property name="username" value="root"/> -->
    <!--     <property name="password" value="root"/> -->
    <!-- </bean> -->
    <!-- <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"> -->
    <!--     <property name="driverClass" value="com.mysql.jdbc.Driver"/> -->
    <!--     <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/spring_db"/> -->
    <!--     <property name="user" value="root"/> -->
    <!--     <property name="password" value="root"/> -->
    <!--     <property name="maxPoolSize" value="1000"/> -->
    <!-- </bean> -->
    <!-- 1.make context namespace -->
    <!-- 2.use context load properties -->
    <!-- 不加载系统变量 -->
    <!-- <context:property-placeholder location="jdbc.properties" system-properties-mode="NEVER"/> -->
    <!-- <context:property-placeholder location="jdbc.properties"/> -->
    <!-- <context:property-placeholder location="jdbc.properties,jdbc2.properties"system-properties-mode="NEVER"/> -->
    <!-- 可以读取jar包里的 -->
    <context:property-placeholder location="classpath*:*.properties" system-properties-mode="NEVER"/>
    <bean class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="bookDao" class="com.itheima.dao.impl.BookDaoImpl">
        <property name="name" value="${jdbc.driver}"/>
    </bean>

</beans>